[KdmGreeterTheme]
Greeter=ClearOS7.xml
Name=Clear Operating System 7
Author=ClearFoundation, LTD
Copyright=(C) 2014 ClearFoundation, LTD
Screenshot=screenshot.png
